<%# These streams are public by design — display pages are unauthenticated %>
<%= turbo_stream_from @shop, :tb_stream_full_reload_entire_page %>
<%= turbo_stream_from @shop, :tb_stream_update_item_tags %>

<div id="tb_display_container" class="sm:flex sm:flex-col sm:h-full">
  <%= tag.div class: "sm:flex sm:flex-col sm:h-full",
    data: {
      controller: "click-repeatedly",
      click_repeatedly_refresh_interval_value: 30000
    } do %>
    <%= turbo_frame_tag "tb_completed_item_tags", src: completings_display_shop_item_tags_path(@shop, type: params[:type], item_tag_id: params[:item_tag_id]) %>

    <%= tag.div class: "sm:flex sm:flex-col sm:h-dvh", style: "background-color: #DCEEFB;" do %>
      <%= render "top_border" %>
      <%= render "normal_layout", shop: @shop, type: params[:type], item_tag_id: params[:item_tag_id] %>
      <%= render "marquee", marquee_text: "No smoking on the premises." %>
    <% end %>

    <%= link_to "current url",
      display_shop_path(@shop, type: params[:type], item_tag_id: params[:item_tag_id]),
      class: "js-current-url-link",
      data: {turbo: false},
      hidden: true %>
  <% end %>
</div>
